services:
  backend1:
    image: backend-sistema-inscricao:1.0
    container_name: backend1
    env_file:
      - .env.dev
    command: ["dist/main.js"]
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL
      - JWT_AUTH_SECRET
      - JWT_REFRESH_SECRET
      - CONTAINER_NAME=backend1
    mem_limit: 512m
    cpus: 1.0
    networks:
      - inscricao_net

  backend2:
    image: backend-sistema-inscricao:1.0
    container_name: backend2
    env_file:
      - .env.dev
    command: ["dist/main.js"]
    ports:
      - "3001:3000"
    environment:
      - DATABASE_URL
      - JWT_AUTH_SECRET
      - JWT_REFRESH_SECRET
      - CONTAINER_NAME=backend2
    mem_limit: 512m
    cpus: 1.0
    networks:
      - inscricao_net

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"   
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2
    networks:
      - inscricao_net

networks:
  inscricao_net:
    external: true